<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SchemaGenerator.Host" value="http://jsonschema.api-node"/><!--change 'jsonschema.api-node' to host adderess if you don't use docker containers-->
    <add key="SchemaGenerator.Port" value="8081"/>
    <add key="Theia.Host" value="http://*"/>
    <add key="Theia.Port" value="8082"/>
  </appSettings>
</configuration>
